h1, h3 {
        text-align: center;
}

ul{
    display: inline-block;
    align-items: center;
    margin-left: 300px;
    margin-bottom: 60px;
}

.first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    display: block;
    align-items: center;
    margin-left: 200px;
}

.second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    align-items: center;
}

.third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display: inline-block;
    align-items: center;
}

.premiacao li{
    display: inline-block;
}
